* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

/*******************padding-margin***************************************/
.pt-40 {
  padding-top: 40px;
}

.py-hero {
  padding-top: 129px;
  padding-bottom: 170px;
}

.mt-62 {
  margin-top: 22px;
}

.mt-36 {
  margin-top: 20px;
}

.py-about {
  padding-top: 22px;
  padding-bottom: 130px;
}

.mt-26 {
  margin-top: 26px;
}

.my-neg-3 {
  margin-top: -3px;
  margin-bottom: -3px;
}

.py-token {
  padding-top: 35px;
  padding-bottom: 35px;
}

.mt-12 {
  margin-top: 12px;
}

.py-utility {
  padding-top: 144px;
  padding-bottom: 65px;
}

.mt-33 {
  margin-top: 33px;
}

.py-eco {
  padding-bottom: 68px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-20 {
  margin-top: 20px;
}

.py-road {
  padding: 43px 0px;
}
.py-news{
  padding-top: 125px;
  padding-bottom: 96px;
}

/*******************padding-margin***************************************/
.gap-21 {
  gap: 12px;
}

.gap-18 {
  gap: 18.94px;
}

.gap-30 {
  gap: 30px;
}

.max-w-565 {
  max-width: 565px;
}

.cmn-btn {
  padding: 19px 32px;
  border: 1px solid #FFFFFF;
  border-radius: 189px;
  background: transparent;
  transition: 0.3s linear;
}

.cmn-btn:hover {
  background: var(--color-yellow);
  border: 1px solid transparent;
}

.head-btn {
  border: 1px solid #FFFFFF;
  border-radius: 102px;
  background-color: transparent;
  padding: 9px 16px 14px 19.5px;
  transition: 0.3s linear;
}


.ylw-layer {
  background-color: var(--color-yellow);
  padding-top: 22px;
  padding-bottom: 22px;
}

.bg-about {
  background-image: url(./assets/images/PNG/about-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.max-w-550 {
  max-width: 550px;
}

.max-w-453 {
  max-width: 453px;
}

.top-text-ellips {
  top: 15%;
  transform: rotate(340deg);
  left: 10%;
}

.text-pos1 {
  top: 12%;
  left: 5%;
  transform: rotate(340deg);
}

.text-pos2 {
  top: 12%;
  left: 47%;
  transform: rotate(340deg);
}

.text-pos3 {
  bottom: 35%;
  left: 37%;
}

.top-text-ellips2 {
  top: 68%;
  transform: rotate(340deg);
  left: 33%;
}

.bottom-ellips-pos {
  left: 18%;
  bottom: 10%;
}

.glasses-pos {
  right: 2%;
  bottom: 0;
}

.w_100 {
  width: 100%;
  max-width: 688px;
}

.icon-width {
  max-width: 76px;
  width: 100%;
}

.token-box {
  border: 1px solid #FFFFFF80;
  box-shadow: 0px 4px 4px 0px #00000040;
  max-width: 404px;
  border-radius: 20px;
  padding: 27px 54px 40px 25px;
}

.ylw-box {
  background: var(--color-yellow);
  border: 1px solid #000000;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

.max-w-296 {
  max-width: 296px;
}

.max-w-131 {
  max-width: 296px;
}

.max-w-152 {
  max-width: 296px;
}

.max-w-616 {
  max-width: 616px;
}

.gap-24 {
  gap: 24px;
}

.bg-utility {
  background-image: url(./assets/images/PNG/utility_bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-ecosystem {
  background-image: url(./assets/images/PNG/ecosystem_bg_img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ylw-btn {
  padding: 19px 32px;
  border-radius: 189px;
  background-color: var(--color-yellow);
  border: none;
  transition: 0.3s linear;
  border: 1px solid transparent;
}

.ylw-btn:hover {
  background-color: black;
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}

.notes-pos {
  top: 0%;
  right: 7%;
}

.tilted-yellow-layer {
  background-color: var(--color-yellow);
  transform: rotate(-2.02deg);
}

.chart-pos {
  top: 5%;
  left: 4%;
}

.glasses-pos2 {
  right: 8%;
  bottom: 3%;
}

.max-w-441 {
  max-width: 441px;
}
.news-box{
  border: 1px solid #000000;
}

@media (min-width:576px) {}

@media (min-width:768px) {
  .gap-21 {
    gap: 21px;
  }

  .mt-md-13 {
    margin-top: 13px;
  }
  .py-road {
    padding: 65px 0px;
  }
}

@media (min-width:992px) {
  .py-hero {
    padding-top: 100px;
    padding-bottom: 91px;
  }

  .mt-62 {
    margin-top: 24px;
  }

  .mt-36 {
    margin-top: 28px;
  }

  .mt-lg-26 {
    margin-top: 26px;
  }

  .py-about {
    padding-top: 137px;
    padding-bottom: 130px;
  }

  .max-w-131 {
    max-width: 131px;
  }

  .max-w-152 {
    max-width: 152px;
  }

  .mt-lg-21 {
    margin-top: 21px !important;
  }

  .mt-lg-20 {
    margin-top: 20px;
  }

  .tilted-yellow-layer {
    min-height: 136px;
  }

  .py-eco {
    padding-top: 98px;
    padding-bottom: 68px;
  }

  .mt-lg-13 {
    margin-top: 13px;
  }
}

@media (min-width:1200px) {
  .py-hero {
    padding-top: 136px;
    padding-bottom: 91px;
  }

  .mt-62 {
    margin-top: 62px;
  }

  .mt-36 {
    margin-top: 36px;
  }

  .ylw-layer {
    background-color: var(--color-yellow);
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .w_100 {
    width: unset;
    max-width: unset;
  }

  .py-eco {
    padding-top: 177px;
    padding-bottom: 68px;
  }

  .py-about {
    padding-top: 218px;
    padding-bottom: 130px;
  }

  .py-token {
    padding-top: 84px;
    padding-bottom: 51px;
  }

  .py-road {
    padding: 143px 0px;
  }
}

@media (max-width:992px) {
  .mobile-view {
    background: transparent;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 5;
    transition: all 300ms linear;
  }

  .z-5 {
    z-index: 5;
  }

  .menu span:nth-child(1) {
    height: 4px;
    width: 35px;
    background: var(--color-yellow);
    display: block;
    transition: all 300ms linear;
  }

  .menu span:nth-child(2) {
    height: 4px;
    width: 35px;
    background: var(--color-yellow);
    display: block;
    transition: all 300ms linear;
  }

  .menu span:nth-child(3) {
    height: 4px;
    width: 35px;
    background: var(--color-yellow);
    display: block;
    transition: all 300ms linear;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .right_100 {
    right: -100%;
  }

  .img-op {
    opacity: 25%;
    position: relative;
    z-index: 0;
  }

  .pt-40 {
    padding-top: 5px;
  }

  .cmn-btn {
    padding: 19px 26px;
    border: 1px solid #FFFFFF;
    border-radius: 189px;
    background: transparent;
    transition: 0.3s linear;
  }
}